<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<!--<nav class="navbar navbar-default" role="navigation">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#"></a>-->
<!--</div>-->

<!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a href="#">Link</a></li>-->
<!--<li><a href="#">Link</a></li>-->
<!--<li class="dropdown mega-dropdown active">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
<!--<div class="dropdown-menu mega-dropdown-menu">-->
<!--<div class="container-fluid">-->
<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="men">-->
<!--<ul class="nav-list list-inline">-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png"><span>Running</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png"><span>Basketball</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"><span>Football</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"><span>Soccer</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"><span>Men's Training</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png"><span>Women's Training</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="tab-pane" id="women">-->
<!--<ul class="nav-list list-inline">-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png"><span>Running</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png"><span>Basketball</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"><span>Football</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"><span>Soccer</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="tab-pane" id="kids">-->
<!--<ul class="nav-list list-inline">-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png"><span>Running</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png"><span>Basketball</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"><span>Football</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"><span>Soccer</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"><span>Men's Training</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png"><span>Women's Training</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="tab-pane" id="sports">-->
<!--<ul class="nav-list list-inline">-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png"><span>Basketball</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png"><span>Football</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png"><span>Soccer</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"><span>Men's Training</span></a></li>-->
<!--<li><a href="#"><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_WomensTraining.png"><span>Women's Training</span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<ul class="nav nav-tabs" role="tablist">-->
<!--<li class="active"><a href="#men" role="tab" data-toggle="tab">Men</a></li>-->
<!--<li><a href="#women" role="tab" data-toggle="tab">Women</a></li>-->
<!--<li><a href="#kids" role="tab" data-toggle="tab">Kids</a></li>-->
<!--<li><a href="#sports" role="tab" data-toggle="tab">Sports</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--<form class="navbar-form navbar-left" role="search">-->
<!--<div class="form-group">-->
<!--<input type="text" class="form-control" placeholder="Search">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default">Submit</button>-->
<!--</form>-->
<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li><a href="#">Link</a></li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
<!--<ul class="dropdown-menu" role="menu">-->
<!--<li><a href="#">Action</a></li>-->
<!--<li><a href="#">Another action</a></li>-->
<!--<li><a href="#">Something else here</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#">Separated link</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<!--<div class="container">-->
<!--<div class="well">-->
<!--<a href="https://www.twitter.com/maridlcrmn/">Code snippet inspired by the Nike website. Made with love by @maridlcrmn for @bootsnipp. Enjoy and Share!</a>-->
<!--</div>-->
<!--</div>-->
/*------------------------------------------------------------------------------------------------*/
<div class="container" style="padding:0">
    <nav class="navbar navbar-inverse">
        <div style="background-color: #000000" class="row"><div ><a ui-sref-active="active" ui-sref=".login" style="font-size: 15px;color:white;float:right">LOGIN</a></div></div>
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ><img src="images/logo.png" style="width:120px;height:30px;"/></a>

        </div>

        <div class="collapse navbar-collapse js-navbar-collapse" style="background-color:#000000;padding:0">

            <ul class="nav navbar-nav"  >
                <li class="dropdown mega-dropdown sliding-u-t-b w3-animate-top">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" >DESTINATIONS </a>
                    <ul class="dropdown-menu mega-dropdown-menu dropdown-border jumbotron" >

                        <li class="col-sm-3">
                            <ul>

                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Features</li>
                                <li><a href="#">Auto Carousel</a></li>
                                <li><a href="#">Carousel Control</a></li>
                                <li><a href="#">Left & Right Navigation</a></li>
                                <li><a href="#">Four Columns Grid</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Fonts</li>
                                <li><a href="#">Glyphicon</a></li>
                                <li><a href="#">Google Fonts</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >HOTELS </a>
                    <ul class="dropdown-menu  dropdown-border" >
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Hotel</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Our Newest Hotels</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Special Offers + Deals</a>
                        </li> <li class="divider"></li>
                        <li class="main_nav-sub-image-area">
                            <a href="#">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Special Offers Across the Country</h4>
                                <p>Explore our perk-filled offers in 65 hotels, and get your Kimpton experience started.</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >EAT+DRINK </a>
                    <ul class="dropdown-menu  dropdown-border">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >MEETINGS-EVENTS </a>
                    <ul class="dropdown-menu dropdown-border ">
                        <li>
                            <a href="/meetings-and-events">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/meetings">Meetings</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/events">Events</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/find-a-venue">Find a Meeting Space</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/meeting-offers">Meeting Promotions</a>
                        </li><li class="divider"></li>
                        <li>
                            <a class="main_nav-sub-contact_book" href="/meetings-and-events/contact-and-book">Contact + Book</a>
                        </li>

                    </ul>
                </li>


            </ul>


            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >WEDDINGS </a>
                    <ul class="dropdown-menu dropdown-border ">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown mega-dropdown sliding-u-t-b" >

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  >KARMA REWARDS</a>
                    <ul class="dropdown-menu dropdown-border">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li><li>
                <a href="#" class="dropdown-toggle pentagon" data-toggle="dropdown" role="button" >BOOK NOW</a>
                <ul class="dropdown-menu dropdown-border ">
                    <li>
                        <a href="#">Overview</a>
                    </li><li class="divider"></li>
                    <li>
                        <a href="#">Find a Restaurant</a>
                    </li><li class="divider"></li>

                    <li class="main_nav-sub-image-area">
                        <a href="/dine">
                            <img src="images/nav_hotels.jpg" class="img-responsive"/>
                            <h4>Dining Done To Perfection</h4>
                            <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                        </a>
                    </li>

                </ul>
            </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $(".dropdown").hover(

                function() {
                    if ($(window).width() > 943) {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    }
                },
                function() {
                    if ($(window).width() > 943) {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                }
        );
    });
</script>
