
<div class="container" style="padding:0">
    <nav class="navbar navbar-inverse">
        <div style="background-color: #000000" class="row"><div ><a ui-sref-active="active" ui-sref=".login" style="font-size: 15px;color:white;float:right">LOGIN</a></div></div>
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ><img src="images/logo.png" style="width:120px;height:30px;"/></a>

        </div>

        <div class="collapse navbar-collapse js-navbar-collapse" style="background-color:#000000;padding:0">

            <ul class="nav navbar-nav"  >
                <li class="dropdown mega-dropdown sliding-u-t-b w3-animate-top">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" >DESTINATIONS </a>
                    <ul class="dropdown-menu mega-dropdown-menu dropdown-border jumbotron" >

                        <li class="col-sm-3">
                            <ul>

                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="divider"></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                                <li><a href="#">Alexandria, VA</a></li>
                                <li><a href="#"> Austin, TX</a></li>
                                <li><a href="#">Baltimore, MD</a></li>
                                <li><a href="#">  Boston, MA</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Features</li>
                                <li><a href="#">Auto Carousel</a></li>
                                <li><a href="#">Carousel Control</a></li>
                                <li><a href="#">Left & Right Navigation</a></li>
                                <li><a href="#">Four Columns Grid</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Fonts</li>
                                <li><a href="#">Glyphicon</a></li>
                                <li><a href="#">Google Fonts</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >HOTELS </a>
                    <ul class="dropdown-menu  dropdown-border" >
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Hotel</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Our Newest Hotels</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Special Offers + Deals</a>
                        </li> <li class="divider"></li>
                        <li class="main_nav-sub-image-area">
                            <a href="#">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Special Offers Across the Country</h4>
                                <p>Explore our perk-filled offers in 65 hotels, and get your Kimpton experience started.</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >EAT+DRINK </a>
                    <ul class="dropdown-menu  dropdown-border">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >MEETINGS-EVENTS </a>
                    <ul class="dropdown-menu dropdown-border ">
                        <li>
                            <a href="/meetings-and-events">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/meetings">Meetings</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/events">Events</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/find-a-venue">Find a Meeting Space</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="/meetings-and-events/meeting-offers">Meeting Promotions</a>
                        </li><li class="divider"></li>
                        <li>
                            <a class="main_nav-sub-contact_book" href="/meetings-and-events/contact-and-book">Contact + Book</a>
                        </li>

                    </ul>
                </li>


            </ul>


            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown mega-dropdown sliding-u-t-b">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >WEDDINGS </a>
                    <ul class="dropdown-menu dropdown-border ">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown mega-dropdown sliding-u-t-b" >

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  >KARMA REWARDS</a>
                    <ul class="dropdown-menu dropdown-border">
                        <li>
                            <a href="#">Overview</a>
                        </li><li class="divider"></li>
                        <li>
                            <a href="#">Find a Restaurant</a>
                        </li><li class="divider"></li>

                        <li class="main_nav-sub-image-area">
                            <a href="/dine">
                                <img src="images/nav_hotels.jpg" class="img-responsive"/>
                                <h4>Dining Done To Perfection</h4>
                                <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                            </a>
                        </li>

                    </ul>
                </li><li>
                <a href="#" class="dropdown-toggle pentagon" data-toggle="dropdown" role="button" >BOOK NOW</a>
                <ul class="dropdown-menu dropdown-border ">
                    <li>
                        <a href="#">Overview</a>
                    </li><li class="divider"></li>
                    <li>
                        <a href="#">Find a Restaurant</a>
                    </li><li class="divider"></li>

                    <li class="main_nav-sub-image-area">
                        <a href="/dine">
                            <img src="images/nav_hotels.jpg" class="img-responsive"/>
                            <h4>Dining Done To Perfection</h4>
                            <p>You’ll find passion and innovation in our unique restaurants, 365 days a year.</p>
                        </a>
                    </li>

                </ul>
            </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $(".dropdown").hover(

                function() {
                    if ($(window).width() > 943) {
                        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                        $(this).toggleClass('open');
                    }
                },
                function() {
                    if ($(window).width() > 943) {
                        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                        $(this).toggleClass('open');
                    }
                }
        );
    });
</script>
